.cw-wrapper{
    padding: 9.5%;
}
.current-temperature{
    float: left;
    height: 100px;
    
}
.p-temperature{
    font-size: 33px;
    color: white;
    margin: 0;
    padding: 0;
}
.p-temperature > span{
    font-size: 30px;
    position: relative;
    color: white;
    top: -4px;
    left: -7px;
   
}
.p-temperature-text{
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.current-icone{
    float: right;
    width: 50%;
}
.current-icone > img{
    width: 100%;   
    position: relative;
    top: -20px;
    left: 20px;
}
.clearFix::after{
    display: block;
    content: "";
    clear: both;
}
.cw-update{
    width: 100%;
    padding: 5% 9.5%;
}
.cw-update > p{
    color: rgb(255, 255, 255);
    font-size: 14px;
    display: inline-block;
    margin-left: 5%;
    position: relative;
    top: -4px;
    font-weight: bold;
}
.icon-refresh{
    width: 10%;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
}