.flex-container{
    display: flex;
    margin: auto;
    width: 800px;
    height: 600px;
    background-color: #DBEDF7;
    box-sizing: border-box;
    
}
.wrapper{
    margin:auto;
    width: 635px;
    display: flex;
    flex-flow: column wrap;
    height: 350px;
    justify-content: center;
    
}
.top-left{
    background-color: blue;
    margin-bottom: 1.5%;
    margin-right: 1.5%;
    width: 40%;
    height: 57%;
    
}
.down-left{
    background-color: red;
    
    width: 40%;
    height: 40%;
   
}
.right{
    background-color: green;
   
    height: 100%;
    width: 58%;
   
    
    

}