.flex-container{
    display: flex;
    margin: auto;
    width: 800px;
    height: 600px;
    background-color: #DBEDF7;
    
}
.wrapper{
    width: 635px;
    display: flex;
    margin: auto;
    margin-left: 8%;
    flex-flow: column wrap;
    height: 350px;
    justify-content: space-evenly;
    
}
.home-top-left{
    background-image: url('https://www.mesnerwirt.it/bilder/thumbs/climate-holiday-hotel-avelengo.jpg?ts=1464009944&w=1024&h=614');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1.5%;
    margin-right: 1.5%;
    width: 40%;
    height: 61%;
    border-radius: 5px;
}
.home-down-left{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url('./CurrentWeatherDetails/details.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2%;
    width: 40%;
    height: 36%;
    border-radius: 5px;
}
.home-right{
    position: relative;
    background-image: url('../assets/images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 64%;
    border-radius: 5px;
}