.line {
    stroke-dasharray: 475;
    stroke-dashoffset: 475;
    animation: dash  1.5s ease-out forwards;
  }
  
  @keyframes dash  {
    from {
      stroke-dashoffset: 475;
    }
    to {
      stroke-dashoffset: 0;
    }
  }


