@font-face {
    font-family: 'Roboto Condensed', sans-serif;
    src: url('./view/assets/fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Condensed', sans-serif;
    src: url('./view/assets/fonts/RobotoCondensed-Bold.ttf');
    font-weight: bold;
}
*{
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}