span.msg,
span.choose {
    color: #555;
    padding: 5px 0 10px;
    display: inherit
}
.container {
    width: 220px;
    margin-top:5%;
    margin-left:5%;
}

.dropdown {
    width: 220px;
    display: inline-block;
    transition: all 0.4s ease-in-out;
    position: relative;
    font-size: 35px;
    font-weight: 1000;
    color: white;
    height: 100%;
    -webkit-text-stroke: 1px black;

}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 5px;
}
.dropdown .select > i {
    content: "";
    position: absolute;
    right: -10px;
    top: 27px;
    border: 0.3em solid white;
    border-color: white transparent transparent transparent;
    transition: 0.3s all ease-in-out;
   
}
.dropdown.active .select > i {
    transform: rotate(-180deg);
    top: 15px;
}
.dropdown .dropdown-menu {
    position: absolute;
    width: 100%;  
    left: 0;
    margin-top: 1px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9;
}
.dropdown .dropdown-menu li {
    padding: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none;
}
.dropdown .dropdown-menu li:hover {
    color:  rgb(129, 179, 217);
}
.dropdown .dropdown-menu li:active {
    color:  rgb(129, 179, 217);
}
.weather-date{
    color: white;
    margin-left: 3%;
    font-size: 20px;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}
.weather-date--opacity{
   display: none;
}